@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
        <h1 class="page-title fw-semibold fs-18 mb-2">Dashboard</h1>
    </div>

    <div class="alert alert-secondary alert-dismissible fade show custom-alert-icon shadow-sm" role="alert">
        <h5>Student Management System Version: <strong style="color:blue;">1.0</strong></h5>
        <p>The price to own the source code is $10.</p>
        <h5>Liên hệ admin để sở hữu mã nguồn</h5>
        <ul>
            <li>Facebook Admin: <a class="text-primary" href="https://facebook.com/dileerr.04"
                    target="_blank">https://facebook.com/dileerr.04</a></li>
            <li>Zalo Admin: <a class="text-primary" href="https://zalo.me/0766526344" target="_blank">0766526344</a>
            </li>
            <li>Telegram Admin: <a class="text-primary" href="https://t.me/jonng04"
                    target="_blank">https://t.me/jonng04</a></li>
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i
                class="bi bi-x"></i></button>
    </div>


</div>
